.jumbotron{
    padding-top: 6rem;
    background-color: #BDE6F9;
}
  
#project{
    background-color: #BDE6F9;
}

#organization{
    background-color: #BDE6F9;
}

#contact{
    background-color: #BDE6F9;
}

section{
    padding-top: 5rem;
}